<%= form_for @employee , url: {action: "update"} do |f| %>
	<% if @employee.invalid? %>
		<% @employee.errors.full_messages.each do |error| %>
			<p><%= error %></p>
		<% end %>
	<% end %>
	<%= render partial: 'form', locals: {f: f} %>
<% end %>